body {
  margin: 0;
}

#root {
  margin: 0;
  display: flex;
  flex-direction: row;

  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 32pt;
  font-weight: 600;
}

nav {
  margin: 0 8px 0 8px;
}

nav a {
  display: block;
  width: 128px;
  height: 72px;
}

nav .static {
  position: absolute;
}

nav .static:hover {
  opacity: 0;
}

nav .filler {
  position: absolute;
  width: 128px;
  top: 216px;
  bottom: 0;
  /* bottom: 0px; */
  background-image: url('../Resources/Images/filler.gif');
  background-repeat: repeat-y;
}

.movie-item {
  display: inline;
  margin-bottom: 16px;
}

.movie-item .movie-metadata {
  flex: 1;
}

.movie-item summary {
  padding: 6px;
  width: fit-content;
}

.movie-item summary:hover {
  background: #d3d3d3;
  border-radius: 5px;
}

.movie-item .movie-thumb {
  height: 256px;
  margin-right: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  filter: brightness(90%)
}

.movie-item .movie-thumb:hover {
  filter: brightness(100%);
}

.all-caps {
  text-transform: uppercase;
}

.unlist {
  list-style: none;
  padding-left: 0;
}